# Librerías

In [1]:
def libreriasProcesammiento():
    '''Importar las librerías necesarias para el procesamiento de los datos del 
    dataset (data_act_01.csv)'''
import pandas as pd
import numpy as np
import datetime as dt
import missingno as msno
print(libreriasProcesammiento.__doc__)
print(libreriasProcesammiento())

Importar las librerías necesarias para el procesamiento de los datos del
    dataset (data_act_01.csv)
None

In [2]:
def libreriasVisualización():
    '''Importar las librerías necesarias para la visualización de los datos del 
    dataset (data_act_01.csv) '''
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
print(libreriasVisualización.__doc__)
print(libreriasVisualización())

Importar las librerías necesarias para la visualización de los datos del
    dataset (data_act_01.csv)
None

# Cargar datos del dataset

In [4]:
def cargarleer():
    '''Cargar el conjunto de datos del dataset  '''
datos =pd.read_csv("data_act_01.csv")
print(cargarleer.__doc__)
print(cargarleer())

Cargar el conjunto de datos del dataset
None

# Visualización de los datos

In [5]:
def leerdatos():
    '''Cargar el conjunto de datos del dataset  '''
print(leerdatos.__doc__)
print(datos)

Cargar el conjunto de datos del dataset
      CrimeId;OriginalCrimeTypeName;OffenseDate;CallTime;CallDateTime;Disposition;Address;City;State;AgencyId;Range;AddressType
0      160903280;Assault / Battery;2016-03-30T00:00:0...
1      160912272;Homeless Complaint;2016-03-31T00:00:...
2      160912590;Susp Info;2016-03-31T00:00:00;16:49;...
3      160912801;Report;2016-03-31T00:00:00;17:38;201...
4      160912811;594;2016-03-31T00:00:00;17:42;2016-0...
...                                                  ...
10046  160964210;Well Being Check;2016-04-05T00:00:00...
10047  160964216;Traffic Stop;2016-04-05T00:00:00;23:...
10048  160964227;Traffic Stop;2016-04-05T00:00:00;23:...
10049  160964229;Passing Call;2016-04-05T00:00:00;23:...
10050  160964249;Traffic Stop;2016-04-05T00:00:00;23:...

[10051 rows x 1 columns]

Para cargar los datos de un archivo CSV con ayuda de la función read_csv() con ayuda de la librería Pandas. Esta librería ayuda a importar archivos en formato CSV de una forma fácil y sencilla. Esta función por defecto separa la información por medio de la coma (,). Pero se debe tener en cuenta que no todos los archivos CSV están delimitados por comas o también se puede tener más de un delimitador. Como se puede observar los datos no se ven de manera correcta. Además, en español el separador de decimales es la coma y puede llevar a una confusión. Para solucionar este inconveniente se hace uso de la propiedad "sep" pandas, donde se indica el delimitador de punto y coma para visualizarlo de mejor manera.

In [6]:
def SOLUCIONleer():
    '''Usar la propiedad sep de pandas para agregar un delimitar al conjunto de datos
       e imprimimos los primeros cinco registros con el comando head()'''
datos =pd.read_csv("data_act_01.csv",sep=';')
print(SOLUCIONleer.__doc__)
print(SOLUCIONleer())
datos.head()

Usar la propiedad sep de pandas para agregar un delimitar al conjunto de datos
       e imprimimos los primeros cinco registros con el comando head()
None

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection

In [7]:
def ultimas():
    '''Con el comnado tail() se muestran los últimos cinco registro de un dataframe'''
print(ultimas.__doc__)
datos.tail()

Con el comnado tail() se muestran los últimos cinco registro de un dataframe

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,NaN,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,NaN,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,NaN,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,NaN,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,NaN,Intersection

In [8]:
def aleatorio():
    '''Con el comando sample() se muestran el número 
    de registro configurados aleatoriamente de un dataframe'''
print(aleatorio.__doc__)
datos.sample(5)

Con el comando sample() se muestran el número
    de registro configurados aleatoriamente de un dataframe

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
8779,160953649,Male,2016-04-04T00:00:00,20:44,2016-04-04T20:44:00,HAN,Vallejo St/octavia St,San Francisco,CA,1,NaN,Intersection
4097,160933192,Poss,2016-04-02T00:00:00,19:46,2016-04-02T19:46:00,HAN,1000 Block Of Polk St,San Francisco,CA,1,NaN,Premise Address
8048,160952327,Suspicious Person,2016-04-04T00:00:00,14:58,2016-04-04T14:58:00,HAN,Mcallister St/hyde St,San Francisco,CA,1,NaN,Intersection
8458,160953093,Passing Call,2016-04-04T00:00:00,18:06,2016-04-04T18:06:00,HAN,1600 Block Of John F Kennedy Dr,San Francisco,CA,1,NaN,Common Location
8221,160952643,Traffic Stop,2016-04-04T00:00:00,16:15,2016-04-04T16:15:00,CIT,Larkin St/broadway,San Francisco,CA,1,NaN,Intersection

In [9]:
def tamaño():
    '''Con el comando shape mustra el tamaño que tiene el dataframe'''
print(tamaño.__doc__)
datos.shape

Con el comando shape mustra el tamaño que tiene el dataframe

(10051, 12)

Obtenemos el tamaños del dataframe con la finalidad de saber la cantidad de datos que se está manejando. Este dataframe tiene 10051 filas y 12 columnas. Esto quiere decir el total de la infromación del conjunto de datos de "data_act_01.csv".